.container:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: 0.0325em;
}

h3 {
  color: #0475BA;
  text-decoration: underline;
  font-size: 30px;
  text-align: center;
}

h2, h3 {
  text-transform: uppercase;
  letter-spacing: 0.0425em;
}

p {
  line-height: 1.2;
}

/*
 * Sections
*/

.welcome-message {
  text-align: center;
  background-color: #231F20;
  color: white;
  width: 70%;
  margin: 0 auto;
}

.welcome-message h2 {
  font-size: 28px;
}

.welcome-message h4 {
  font-size: 21px;
}

.main-activities {
  background-color: #F5BC4D;
  color: white;
}

.main-activities h3, .main-activities a {
  color: inherit;
}

.team {
  background-color: #EAEAEB;
}
