.container:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin-bottom: 40px;
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: 0.0325em;
  color: #231F20;
  margin-top: 4rem;
}

a {
  color: #231F20;
}

em {
  font-style: italic;
}

h2 {
  margin-bottom: 8px;
}

h3 {
  color: #0475BA;
  text-decoration: underline;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

h2, h3 {
  text-transform: uppercase;
  letter-spacing: 0.0425em;
}

h6 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

p {
  line-height: 1.2;
}


/*
 * Sections
*/

header {
  background: url('../imgs/backdrop.png');
  background-size: cover;
  height: 90vh;
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

header nav {
  background: white;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 5px 0;
}

li {
  margin: 0 10px;
}

li a {
  color: #231F20;
  text-transform: uppercase;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.welcome-container {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-message {
  text-align: center;
  background-color: #231F20;
  color: white;
  width: 70%;
  padding: 20px 30px 25px;
}

.welcome-message h2 {
  font-size: 28px;
}

.welcome-message h4 {
  font-size: 21px;
  margin-bottom: 0;
}

.objectives, .partners, .values, .initiatives {
  margin-bottom: 0px;
}

.objectives h4, .values h4 {
  font-size: 22px;
  text-align: center;
}

.objective-columns, .value-columns {
  text-align: center;
}

.objective-columns p, .value-columns p {
  text-align: left;
}

.objective-columns img, .value-columns img {
  margin-bottom: 0.8em;
}

.main-activities {
  background-color: #F5BC4D;
  color: white;
  padding: 20px 0;
  margin-bottom: 40px;
}

.main-activities h3, .main-activities a {
  color: inherit;
}

.team {
  background-color: #EAEAEB;
}

.partner-logos .slick-track div.slick-slide {
  text-align: center;
  height: 120px;
  line-height: 120px;
}

.partner-logos img {
  max-width: 100%;
  max-height: 120px;
  vertical-align: middle;
  display: inline !important;
}

footer {
  background-color: #2C2F33;
  padding: .5em 0;
}

footer a {
  color: white;
  text-transform: none;
}

footer .container {
  margin-bottom: 0;
}


h4.columns, .skill h4 {
  text-align: center;
}

.skill p {
  margin-bottom: 1.8rem;
}



.form-field {
  margin-bottom: 2rem;
}

.form-field label {
  display: block;
  text-transform: uppercase;
  margin-bottom: .5rem;
  font-weight: bold;
  font-size: 0.8em;
}


.form-field input, .form-field textarea {
  width: 100%;
}

input[type="submit"] {
  float: right;
  background-color: #0475BA;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
}
