body {
  font-family: 'Hind', sans-serif;
}

.main {
  margin-top: 10rem;
}

header {
  text-align: center;
}

.objectives {
  margin-bottom: 15px;
}

.objectives li {
  list-style-type: none;
}

.testimonials quote {
  display: block;
  margin-bottom: 25px;
  font-style: italic;
  color: #555555;
}

.partner-logos {
  text-align: center;
  margin-bottom: 25px;
}

section {
  margin-bottom: 50px;
}

#language-selector {
  text-align: right;
}

#language-selector .selected {
  text-decoration: none;
  cursor: default;
  color: black;
}

.en span[lang="fr"] {
  display: none;
}

.fr span[lang="en"] {
  display: none;
}
